$indigo50: #e8eaf6;
$indigo600: #3949ab;
$grey900: #212121;
$red500: #f44336;
$primary: $indigo600;
$warning: $red500;
$clouds: #ecf0f1;
$light: $clouds;

* {
  box-sizing: border-box;
}

html {
  background-color: $clouds;
}

a {
  // color: $primary;
  text-decoration: none;
}

ul {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
