$indigo50: #e8eaf6;
$indigo600: #3949ab;
$grey900: #212121;
$red500: #f44336;
$primary: $indigo600;
$warning: $red500;

* {
  box-sizing: border-box;
}

html {
  background-color: $indigo50;
}

a {
  // color: $primary;
  text-decoration: none;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

ul {
  list-style: none;
}
